.image {
    display: inline-flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}


.stats {
    display: flex;
    width: 50vw;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    padding: 2vh;
    border: 3px solid var(--black60);
}

.list {
    list-style-position: inside;
}

.parent li::marker {
    color: var(--black80);
}

.subheading {
    text-decoration: underline solid var(--black60);
    padding-bottom: 5px;

}