  .footer {
      display: flex;
      flex: 1;
      padding: 2rem 0;
      border-top: 1px solid var(--accentBlueMain);
      justify-content: center;
      align-items: center;
  }

  .footer>a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
  }

  .Vercel {
      height: 1em;
      marginLeft: 0.5rem;
  }