.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;

    @media (max-width: 600px) {
        width: 100%;
        flex-direction: column;
    }
}

.card {
    margin: 1rem;
    background-color: var(--primary65);
    padding: 1.5rem;
    text-align: left;
    color: var(--blackMain) !important;
    text-decoration: none;
    border: 2px solid var(--accentBlue40);
    box-shadow:
        0.6px 0.7px 1px hsl(176deg 52% 28% / 0.53),
        2px 2.6px 3.5px -0.9px hsl(176deg 52% 28% / 0.5),
        5.3px 6.9px 9.4px -1.9px hsl(176deg 52% 28% / 0.48),
        13.3px 17.3px 23.6px -2.8px hsl(176deg 52% 28% / 0.45);
    border-radius: 12px;
    transition: .5s ease-out;
    max-width: 300px;
    min-width: 300px;
    min-height: 190px;
    cursor: pointer;
    pointer-events: auto;
}

.disabled {
    background-color: var(--black50);
    border-color: var(--black30);
    pointer-events: none;
}

.card:hover,
.card:focus,
.card:active {
    background-color: var(--primaryMain);
    border-color: (--accentBlueMain);
    box-shadow:
        0.6px 0.7px 1px hsl(176deg 52% 28% / 0.51),
        1px 1.3px 1.8px -1.4px hsl(176deg 52% 28% / 0.47),
        2.7px 3.5px 4.8px -2.8px hsl(176deg 52% 28% / 0.44);
    transition: .25s ease-in;
}

.disabled:hover,
.disabled:focus,
.disabled:active {
    background-color: var(--black40);
    border-color: var(--blackMain);
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}