.card {
    margin: 1rem;
    background-color: var(--blueMain);
    padding: 1.5rem;
    text-align: left;
    color: var(--blackMain) !important;
    text-decoration: none;
    border: 2px solid var(--blueAccent);
    /* box-shadow:
        0.6px 0.7px 1px hsl(176deg 52% 28% / 0.53),
        2px 2.6px 3.5px -0.9px hsl(176deg 52% 28% / 0.5),
        5.3px 6.9px 9.4px -1.9px hsl(176deg 52% 28% / 0.48),
        13.3px 17.3px 23.6px -2.8px hsl(176deg 52% 28% / 0.45); */
    box-shadow:
        0.6px 0.7px 1px hsl(var(--shadow-color)/ 0.34),
        2px 2.6px 3.5px -0.9px hsl(var(--shadow-color)/ 0.5),
        5.3px 6.9px 9.4px -1.9px hsl(var(--shadow-color)/ 0.48),
        13.3px 17.3px 23.6px -2.8px hsl(var(--shadow-color)/ 0.45);
    border-radius: 12px;
    transition: .5s ease-out;
    max-width: 455px;
    min-width: 455px;
    min-height: 256px;
    cursor: pointer;
    pointer-events: auto;
}

.disabled {
    background-color: var(--black40);
    border-color: var(--black80);
    pointer-events: none;
}

.card:hover,
.card:focus,
.card:active {
    background-color: var(--blueMain);
    border-color: (--blueAccent);
    /* box-shadow:
        0.6px 0.7px 1px hsl(176deg 52% 28% / 0.51),
        1px 1.3px 1.8px -1.4px hsl(176deg 52% 28% / 0.47),
        2.7px 3.5px 4.8px -2.8px hsl(176deg 52% 28% / 0.44); */
    box-shadow:
        0.6px 0.7px 1px hsl(var(--shadow-color) / 0.51),
        1px 1.3px 1.8px -1.4px hsl(var(--shadow-color) / 0.47),
        2.7px 3.5px 4.8px -2.8px hsl(var(--shadow-color) / 0.44);
    transition: .25s ease-in;
}

.disabled:hover,
.disabled:focus,
.disabled:active {
    background-color: var(--black60);
    border-color: var(--blackMain);
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.75rem;
}

.card p {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

.description {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black90);
}