.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--accentBlueMain);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: var(--accentRedMain);
  text-decoration: none;
}


.title {
  margin: 50px auto;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: var(--black60);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card {
  margin: 1rem;
  background-color: var(--primary65);
  padding: 1.5rem;
  text-align: left;
  color: var(--blackMain) !important;
  text-decoration: none;
  border: 2px solid var(--accentBlue40);

  box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.2),
    2px 4px 4px hsl(176deg 58% 45% / 0.2),
    4px 8px 8px hsl(176deg 58% 45% / 0.2),
    8px 16px 16px hsl(176deg 58% 45% / 0.2),
    16px 32px 32px hsl(176deg 58% 45% / 0.2);
  border-radius: 12px;
  transition: .95s;
  max-width: 300px;
  min-width: 300px;
  min-height: 190px;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  background-color: var(--primaryMain);
  border-color: var(--accentBlueMain);
  box-shadow:
    0.5px 1px 1px hsl(176deg 58% 45% / 0.7);
  transition: .5s;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.NavBar {
  height: 76px;
  width: 100%;
  background: var(--primaryMain);
  border-bottom: 3px solid var(--accentBlue40);
  align-items: center;
  display: flex;
  position: fixed;
  justify-content: space-around;
  left: 0;
  top: 0;
}

.NavBar.Other {
  position: sticky;
  height: 50px;
}


.Back {
  text-decoration: none;
  font-size: x-large;

  font-weight: 700;
}


.Login {
  text-decoration-line: none;
  font-size: 1.25rem;
  color: var(--BlackMain);
  padding: 5px;
  border-radius: 12px;
  background-color: var(--accentBlue60);
  border: 1px solid var(--accentBlue40);
  transition: .75s;
}

.Login:hover {
  background-color: var(--accentBlue50);
  border: 1px solid var(--blackMain);
  transition: .5s;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}