.question {
    padding: 5px 5px;
    margin: 0%;
    text-align: center;
}

.questionItem {
    list-style: none;
}

.answerButton {
    width: 15%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}