.question {
    padding: 5px 5px;
    margin: 0%;
    text-align: center;
}

.questionItem {
    list-style: none;
}

.answerButton {
    width: 15%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    height: 25px;
}

.answerButton:hover {
    border: none;
    width: calc(15% + 2px);
    height: calc(25px + 0px);
}

.input {
    padding: 5px 5px;
    margin: 0%;
    text-align: center;
}